*{margin: 0;padding: 0;font-family: 'Poppins', sans-serif;}

body{background:#000;color:#fff;}

button{color: #fff;border: none;cursor: pointer;background: #51A0BD;outline: none;}

html {-webkit-tap-highlight-color: rgba(0,0,0,0) !important; -webkit-tap-highlight-color: transparent !important; }

.buttons{max-width:fit-content;padding-left: 0.2rem;padding-right: 0.2rem;font-size:1rem;height:2em;border-radius: 10%;box-shadow:inset 0 -2px 1px rgba(0,0,0,.5), inset 0 2px 1px rgba(255,255,255,.9), 0 4px 4px rgba(0,0,0,.9)}
.buttons:active {background:red}
.control_but{opacity:1;font-weight:900;}
.go-out{position: absolute;top: 0;right: 0}

.device_but{display:flex;justify-content: space-around;margin-top:1rem;}
.room_c{margin:0.2rem;}
#child_dev_but{text-align: center;}

select{font-size:1rem;}
P{max-width:90%;padding:0.5rem 1rem;}

.head_but{display:grid; justify-content:space-around;grid-row-gap: 1rem;}

INPUT{width: 12rem;}
#price_num{width: auto;}
#add_room,#log_form,#d_inf,#wind_b,#edit_book,#inf_b{position:absolute;background-color:#DCDCDC;left: 50%;transform: translate(-50%, 0);bottom:40%;width:80%;height:50%;z-index:3;border:0.5rem groove darkgrey;border-radius:1rem;color: black}
#add_room{min-height:50%;height: unset;}
#d_inf,#log_form,#edit_book{display: grid;justify-items: center;align-items: center;}
#wind_b{display:grid;padding-left: 0.5rem;grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;overflow: auto;}
.m_child{width: min-content;}
datalist{overflow: auto;}
#inf_b{overflow: auto;overflow-wrap: break-word;}
#inf_b>DIV{margin: 0.5rem;}
#busy_b,#success_b{position:absolute;left: 50%;transform: translate(-50%, 0);top:20%;z-index:4;;color: black;background-color: white;}

#add_room_bed,#add_room_cat{width: 6rem;}
#add_descr_room {width:80%;height: 60%;}
#show_room,#show_cl_in_r{position: absolute;width: 70%;left: 50%;transform: translate(-50%, 0);text-align:center;word-spacing:2rem;height: 50%;overflow:auto;margin-top:1rem;}
.rooms{margin: 0.5rem; display: grid; grid: 2fr 2rem/33% 33% 33%;background-color: dimgrey;grid-column-gap: 0.1rem;justify-items: center;}
.look_rooms{margin: 0.5rem;;background-color: dimgrey;}
.img_prev{height: 100px;width: 100px;}
.rooms>P{grid-column: 1/4;overflow-wrap: break-word;}
.clients_in_r{display: block;text-align: start;}

#calendar3 {text-align: center;}
#calendar3 tbody td.today {outline: 3px solid red;}
#calendar3>thead>tr>td>INPUT {width: auto;}

.reports_child{background-color: darkgray;}
.reports_child>BUTTON{width: auto;height: auto;}

.images{position: relative;}
.images>img{height: 100px;width: 100px;}
.full_image, .images>button, .full_image>button{position: absolute;}
.full_image{z-index: 5;}
.images>button, .full_image>button{width: 1rem; opacity: 80%;}
.parent_load_img{display: flex;}
#load_img{width:7rem;}

.books_klient{display: flex;border: double;}